@import "../css/globalStyles.css";

body .bg-vid {
    position: absolute;
    
    right: 0;
    bottom: 0;

    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;   
    
    z-index: -1;

    -o-filter: blur(1vh);
    filter: blur(1vh);
}

.form-container {
    max-width: 440px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 535px;
    background: var(--lighter-primary);
    border-radius: 5px;
    box-shadow: #000000AF 4px 4px 64px 0px;
    z-index: 0;
}

.wrapper .signup-title {
    line-height: 48px;
    background: var(--secondary);
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/*form*/
.wrapper form {
    padding: 30px 20px 25px 20px;
}
/*form inputs containers*/
.wrapper form .row {
    height: 45px;
    background: var(--lighter-primary);
    margin-bottom: 15px;
    position: relative;
}

/*form inputs*/
.wrapper form .row input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    outline: none;
    padding-left: 60px;
    border-radius: 5px; 
    border: 0px solid var(--lightest-primary);
    box-shadow: #00000010 2px 2px 4px 0px;
}
/*form dropdowns*/
.wrapper form .row select {
    height: 100%;
    width: calc(100% - 47px);
    margin-left: 47px;
    font-size: 16px;
    outline: none;
    padding-left: 13px;
    border-radius: 0px 5px 5px 0px;
    border: 0px solid var(--lightest-primary);
    box-shadow: #00000010 2px 2px 4px 0px;
}
/*form icons*/
.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: white;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid var(--lightest-primary);
    border-radius: 5px 0 0 5px;
}

/*sign up button*/
.wrapper form .button input {
    background: var(--accent);
    padding-left: 0px;
    color: white;
    transition: 0.2s;
}

.wrapper form .button input:hover {
    background: var(--accent);
    padding-left: 0px;
    color: white;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}

/*log in*/
.wrapper form .log-in {
    color: white;
}

.wrapper form .log-in a {
    color: var(--accent);
    text-decoration: none;      
}